<div class="place-picker__container">
	{{#ifnot selected}}
	<input id="{{instanceName}}" class="form-control" type="text" data-bind="typeahead: autoCompletePlacesUrl, templateName: templateName, mappingFunction: mapping, displayKey: 'fullName'" />
	{{/ifnot}}
	{{#if selected}}
	<p class="form-control clearfix">
		{{selected().fullName}}
		<a class="pull-right text-danger" href="#" data-bind="click: selected.clear" title="Clear Selection">
			<i class="fa fa-times"></i>
		</a>
	</p>
	{{/#if}}
</div>